fastapi==0.115.2
uvicorn[standard]==0.30.6
pydantic==2.9.2
httpx==0.27.2
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
aiomysql==0.2.0
numpy==2.1.2
sentence-transformers==3.0.1
transformers==4.44.2
torch==2.4.1
faiss-cpu==1.8.0.post1
spacy==3.7.6
rapidfuzz==3.9.7
language-tool-python==2.8
slowapi==0.1.9
starlette==0.38.5